*.log
_BUILD/
_LVL_PC/
*.log
_BUILD/Shell/configmunge_fx.log
_BUILD/Shell/configmunge_mcfg.log
_BUILD/Shell/fontmunge.log
_BUILD/Shell/levelpack.log
_BUILD/Shell/PC_modelmunge.log
_BUILD/Shell/PC_texturemunge.log
_BUILD/Shell/scriptmunge.log
addme/scriptmunge.log
_LVL_PC/shell.lvl
_LVL_PC/mission.lvl
_BUILD/ZeroMunge_OutputLog.log
_BUILD/Worlds/TAT/worldmunge.log
_BUILD/Worlds/TAT/terrainmunge.log
_BUILD/Worlds/TAT/PC_texturemunge.log
_BUILD/Worlds/TAT/PC_modelmunge.log
_BUILD/Worlds/TAT/pathplanningmunge.log
_BUILD/Worlds/TAT/odfmunge.log
_BUILD/Worlds/TAT/levelpack_sky_variations.log
_BUILD/Worlds/TAT/levelpack_sky.log
_BUILD/Worlds/TAT/configmunge_sound.log
_BUILD/Worlds/TAT/configmunge_sky.log
_BUILD/Worlds/TAT/configmunge_prp.log
_BUILD/Worlds/TAT/configmunge_povs.log
_BUILD/Worlds/TAT/configmunge_light.log
_BUILD/Worlds/TAT/configmunge_fx.log
_BUILD/Worlds/TAT/configmunge_effects.log
_BUILD/Worlds/TAT/configmunge_combo.log
_BUILD/Worlds/TAT/configmunge_bnd.log
_BUILD/Worlds/Common/worldmunge.log
_BUILD/Worlds/Common/terrainmunge.log
_BUILD/Worlds/Common/PC_texturemunge.log
_BUILD/Worlds/Common/PC_modelmunge.log
_BUILD/Worlds/Common/pathplanningmunge.log
_BUILD/Worlds/Common/odfmunge.log
_BUILD/Worlds/Common/configmunge_sound.log
_BUILD/Worlds/Common/configmunge_sky.log
_BUILD/Worlds/Common/configmunge_prp.log
_BUILD/Worlds/Common/configmunge_povs.log
_BUILD/Worlds/Common/configmunge_light.log
_BUILD/Worlds/Common/configmunge_fx.log
_BUILD/Worlds/Common/configmunge_effects.log
_BUILD/Worlds/Common/configmunge_combo.log
_BUILD/Worlds/Common/configmunge_bnd.log
_BUILD/Shell/scriptmunge.log
_BUILD/Shell/PC_texturemunge.log
_BUILD/Shell/PC_modelmunge.log
_BUILD/Shell/MUNGED/PC/RTP_option_script.script
_BUILD/Shell/MUNGED/PC/ifs_instant_options_tags.script
_BUILD/Shell/MUNGED/PC/ifs_instant_options_overview.script
_BUILD/Shell/MUNGED/PC/ifs_instant_options.script
_BUILD/Shell/levelpack.log
_BUILD/Shell/fontmunge.log
_BUILD/Shell/configmunge_mcfg.log
_BUILD/Shell/configmunge_fx.log
_BUILD/Common/scriptmunge.log
_BUILD/Common/PC_texturemunge.log
_BUILD/Common/PC_shadermunge.log
_BUILD/Common/PC_modelmunge.log
_BUILD/Common/odfmunge.log
_BUILD/Common/MUNGED/PC/zzz_customize.script
_BUILD/Common/MUNGED/PC/zzz_customize - Kopie.script
_BUILD/Common/localizemunge.log
_BUILD/Common/levelpack_missions.log
_BUILD/Common/levelpack_mission.log
_BUILD/Common/levelpack_inshell.log
_BUILD/Common/levelpack_ingame.log
_BUILD/Common/levelpack_fpm.log
_BUILD/Common/levelpack_core.log
_BUILD/Common/levelpack_common.log
_BUILD/Common/fontmunge.log
_BUILD/Common/configmunge_sanm.log
_BUILD/Common/configmunge_mcfg.log
_BUILD/Common/configmunge_hud.log
_BUILD/Common/configmunge_fx.log
_BUILD/Common/configmunge_combo.log
_BUILD/Common/configmunge.log
